.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingL {
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 0.7rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.menu2 {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
}

@media (min-width: 10px) {
  /* Parameters for a Tiny Screen */
  .headingLg {
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  .menu {
    font-size: 1rem;
    line-height: 0.5;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    padding-bottom: 20px;
  }
  .menu4 {
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
  }
  .menu3 {
    font-size: 0.7rem;
    line-height: 1.5;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 20px;
  }
  .videoMenu {
    width: max-content;
    position: absolute;
    bottom: 7%;
    font-size: 0.7rem;
    line-height: 1;
    font-weight: 600;
    background-color: white;
    padding: 12px 10px;
  }
}
@media (min-width: 600px) {
  /* Parameters for a Small Screen */
  .headingLg {
    font-size: 1.4rem;
  }
  .menu {
    font-size: 1.1rem;
    padding-bottom: 25px;
    column-gap: 27px;
  }
  .menu4 {
    font-size: 1.1rem;
  }
  .menu3 {
    font-size: 0.9rem;
  }
  .videoMenu {
    font-size: 0.8rem;
  }
}
@media (min-width: 750px) {
  /* Parameters for a Medium Screen */
  .headingLg {
    font-size: 1.6rem;
  }
  .menu {
    font-size: 1.2rem;
    padding-bottom: 35px;
    column-gap: 32px;
  }
  .menu4 {
    font-size: 1.2rem;
  }
  .menu3 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .videoMenu {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  /* Parameters for a BIG Screen */
  .headingLg {
    font-size: 1.7rem;
  }
  .menu {
    font-size: 1.3rem;
    padding-bottom: 40px;
    column-gap: 35px;
  }
  .menu4 {
    font-size: 1.5rem;
  }
  .menu3 {
    font-size: 1.2rem;
  }
  .videoMenu {
    font-size: 1.2rem;
  }
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.padding {
  padding: 20px;
}

.paddingTop {
  padding-top: 20px;
}

.paddingVideo {
  padding-bottom: 20px;
}

.aboutbold {
  padding-top: 10px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 1.6rem;
}

.about {
  padding-top: 0px;
  font-weight: 400;
  font-size: 1.2rem;
}

.portraitPreviewContainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.portraitPreviewContainer div {
  flex: 1;
  border: 2px solid blue;
  object-fit: contain;
  max-width: 100%;
}

.portraitPreviewContainer div img {
  object-fit: contain;
}
